@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
    --bg-body: #959595;
    --bg-nav: #6E6E6E;
    --bd-footer: #6E6E6E;
    --bg-marcador: #7d7d7d42;
    --font-titulo: #ECF5F2;
    --color-btn: #f8070741;
    --color-btnh: #f8070785;
}


* {
    padding: 0px;
    margin: 0px;
}

/*Pagina*/
body {
    margin: 0px;
    padding: 0px;
    background-color: var(--bg-body);
}

.container {
    max-width: 926px;
    margin: auto;
}

/*itens retirados para a folha de estilos header*/

/*Main*/
main {
    background-image: url(../img/mtgx.jpg);
    background-size: cover;
}

/*Section Marcador*/
.section-marcador {
    width: 926px;
    height: 729px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Sectio Reset*/
.section-reset {
    position: relative;
    width: 648px;
    height: 48px;
    background-color: var(--bg-marcador);
    top: -164px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

/*Marcadores*/
.marcador {
    width: 318px;
    height: 384px;
    margin-right: 5px;
    background-color: var(--bg-marcador);
    border-radius: 10px;
}

.marcadorstd {
    width: 318px;
    height: 384px;
    margin-right: 5px;
    background-color: var(--bg-marcador);
    border-radius: 10px;
}

.valorvenenostd {
    width: 318px;
    height: 267px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-family: 'Inter', sans-serif;
    color: var(--font-titulo);
    text-shadow: #111 0px 2px 4px;
    font-weight: 500;
}

.castcmd,
.danocmd,
.veneno {
    width: 318px;
    height: 20px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    color: var(--font-titulo);
    text-shadow: #111 0px 2px 4px;
    margin-top: 3px;
}

.mvida {
    width: 318px;
    height: 48px;
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    color: var(--font-titulo);
    text-shadow: #111 0px 2px 4px;
    margin-top: 15px;
}

.mveneno {
    width: 318px;
    height: 48px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    color: var(--font-titulo);
    text-shadow: #111 0px 2px 4px;
    margin-top: 15px;
}

.vida {
    width: 318px;
    height: 384px;
    margin-left: 5px;
    background-color: var(--bg-marcador);
    border-radius: 10px;
}

.valorvida {
    width: 318px;
    height: 267px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 144px;
    font-family: 'Inter', sans-serif;
    color: var(--font-titulo);
    text-shadow: #111 0px 2px 4px;
    font-weight: 500;
}

.valorcastcmd,
.valordanocmd,
.valorveneno {
    width: 218px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    font-family: 'Inter', sans-serif;
    color: var(--font-titulo);
    text-shadow: #111 0px 2px 4px;
    font-weight: 700;
}

/*Botões Marcadores*/
.botoes {
    width: 318px;
    height: 108px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vbtnmenos:hover,
.vbtnmais:hover,
.btnmais:hover,
.btmais:hover,
.bmais:hover,
.btnmenos:hover,
.btmenos:hover,
.bmenos:hover,
.reset:hover,
.vstdbtnmenos:hover,
.vstdbtnmais:hover {
    cursor: pointer;
    background-color: var(--color-btnh);
}

.chevronmenos,
img {
    width: 37px;
    height: 37px;
}

.btnmenos,
.btnmais {
    width: 40px;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: var(--color-btn);
    background-blend-mode: normal;
}

/*Botões Veneno STD*/
.vstdbtnmais,
.vstdbtnmenos {
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    background: var(--color-btn);
    background-blend-mode: normal;
}

/*Botões Vida*/
.vbtnmais,
.vbtnmenos {
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    background: var(--color-btn);
    background-blend-mode: normal;
}

.vbotoes {
    width: 318px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.danger {
    color: blue;
}

/*Botão Zerar*/
.reset {
    width: 140px;
    height: 32px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    background: var(--color-btn);
    background-blend-mode: normal;
}

.zerar {
    width: 140px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    color: var(--font-titulo);
    text-shadow: #111 0px 2px 4px;
}


/*Rodapé*/
.footer {
    margin: 0px;
    padding: 0px;
    height: 100px;
    background-color: var(--bg-nav);
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (max-width: 600px) {
    body {
        margin: 0px;
        padding: 0px;
        width: 100vw;
        background-color: var(--bg-body);
    }

    /*itens retirados para a folha de estilos header*/


    /*Main*/
    main {
        width: 100vw;
        height: calc(100vh - 90px);
        background-image: url(../img/mtgmobile.jpg);
        background-size: cover;
    }

    /*Section Marcador*/
    .section-marcador {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    /*Sectio Reset*/
    .section-reset {
        position: relative;
        width: 270px;
        height: 40px;
        background-color: var(--bg-marcador);
        top: -5px;
        /*-160px*/
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
    }

    /*Marcadores*/
    .marcador {
        width: 270px;
        height: 288px;
        margin-right: 0px;
        margin-top: 0px;
        background-color: var(--bg-marcador);
        border-radius: 10px;
        justify-content: center;
        align-items: center;
    }

    .marcadorstd {
        width: 270px;
        height: 230px;
        margin-right: 0px;
        margin-top: 0px;
        background-color: var(--bg-marcador);
        border-radius: 10px;
        justify-content: center;
        align-items: center;
    }

    .valorvenenostd {
        width: 270px;
        height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 75px;
        font-family: 'Inter', sans-serif;
        color: var(--font-titulo);
        text-shadow: #111 0px 2px 4px;
        font-weight: 500;
    }

    .castcmd,
    .danocmd,
    .veneno {
        width: 270px;
        height: 15px;
        display: flex;
        justify-content: center;
        font-size: 14px;
        font-family: 'Inter', sans-serif;
        color: var(--font-titulo);
        text-shadow: #111 0px 2px 4px;
        /*não alterei*/
        margin-top: 2px;
    }

    .mvida {
        width: 270px;
        height: 36px;
        display: flex;
        justify-content: center;
        font-size: 27px;
        font-family: 'Inter', sans-serif;
        color: var(--font-titulo);
        text-shadow: #111 0px 2px 4px;
        margin-top: 11px;
    }

    .mveneno {
        width: 270px;
        height: 36px;
        display: flex;
        justify-content: center;
        font-size: 20px;
        font-family: 'Inter', sans-serif;
        color: var(--font-titulo);
        text-shadow: #111 0px 2px 4px;
        margin-top: 11px;
    }

    .vida {
        width: 270px;
        height: 268px;
        margin-left: 0px;
        margin-top: 5px;
        background-color: var(--bg-marcador);
        border-radius: 10px;
    }

    .valorvida {
        width: 270px;
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 115px;
        font-family: 'Inter', sans-serif;
        color: var(--font-titulo);
        text-shadow: #111 0px 2px 4px;
        font-weight: 500;
    }

    .valorcastcmd,
    .valordanocmd,
    .valorveneno {
        width: 218px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 46px;
        font-family: 'Inter', sans-serif;
        color: var(--font-titulo);
        text-shadow: #111 0px 2px 4px;
        font-weight: 700;
    }

    /*Botões Marcadores*/
    .botoes {
        width: 265px;
        height: 77px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 2.5px;
    }

    .vbtnmenos:hover,
    .vbtnmais:hover,
    .btnmais:hover,
    .btmais:hover,
    .bmais:hover,
    .btnmenos:hover,
    .btmenos:hover,
    .bmenos:hover,
    .reset:hover,
    .vstdbtnmenos:hover,
    .vstdbtnmais:hover {
        cursor: pointer;
        background-color: var(--color-btnh);
    }

    .chevronmenos,
    img {
        width: 32px;
        height: 32px;
    }

    .btnmenos,
    .btnmais {
        width: 34px;
        height: 61px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        background: var(--color-btn);
        background-blend-mode: normal;
    }

    /*Botões Veneno STD*/
    .vstdbtnmais,
    .vstdbtnmenos {
        width: 119px;
        height: 32px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 20px;
        background: var(--color-btn);
        background-blend-mode: normal;
    }

    /*Botões Vida*/
    .vbtnmais,
    .vbtnmenos {
        width: 119px;
        height: 32px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 20px;
        background: var(--color-btn);
        background-blend-mode: normal;
    }

    .vbotoes {
        width: 270px;
        height: 36px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    /*Botão Zerar*/
    .reset {
        width: 119px;
        height: 32px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 20px;
        background: var(--color-btn);
        background-blend-mode: normal;
    }

    .zerar {
        width: 140px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        color: var(--font-titulo);
        text-shadow: #111 0px 2px 4px;
    }


    /*Rodapé*/
    .footer {
        margin: 0px;
        padding: 0px;
        height: 50px;
        background-color: var(--bg-nav);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }


}