@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/bkg.png);
    background-size: cover;
    overflow: hidden;
}

main {
    width: 390px;
    height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.danocmd {
    width: 90%;
    height: 25%;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.11);
}

h1 {
    font-family: 'Macondo', cursive;
    font-size: bold;
}

h2 {
    display: flex;
    margin-left: 8px;
    font-family: 'Macondo', cursive;
    font-size: 15px;
    color: rgba(10, 10, 10, 0.911);
}

p {
    display: flex;
    justify-content: center;
    font-family: 'Macondo', cursive;
    font-size: 15px;
    padding: 12px;
    color: rgba(15, 15, 15, 0.911);
    -webkit-text-stroke: 1px rgba(241, 239, 239, 0.356);
    text-shadow: 1px rgba(214, 214, 214, 0.5);
}

.danopoison {
    width: 90%;
    height: 24%;
    margin: 8px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.11);
}

.vida {
    width: 90%;
    height: 50%;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.11);
}

button {
    width: 40%;
    height: 30px;
    margin-bottom: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: hwb(46 2% 54% / 0.356);
    padding: 2px;
    font-weight: bold;
    transition: background 0.3s;
}

button:hover {
    background-color: rgba(105, 90, 2, 0.938);
}

#btn {
    width: 200%;
    margin: 5px 0px 0px 0px;
}

.reset {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.contadorcmd,
.contadorpoison {
    font-size: 80px;
}

.contadorvida {
    font-size: 220px
}

.btncmd,
.btnpoison,
.btnvida {
    display: flex;
    justify-content: space-around;
}

.std, a {
    margin-top: 10;
    width: 90px;
    display: block;
    justify-items: center;
    align-items: flex-start;
    right: 0;
    text-decoration: none;
    

}